<!-- <div class="main"> -->
    <div class="row">
        <div class="col login-page">
            <button (click)="loginWithKeycloak()" class="button"><img src="../../../../assets/svg/keycloak-svg.svg" alt="keycloak-svg"> Login with Keycloak</button>
            <button (click)="loginWithAuth0()" class="button"><img src="../../../../assets/svg/auth0-icon.svg" alt="auth0-svg">Login with Auth0</button>
        </div>
        <div class="col login-page-sidePanel">
            hi
        </div>
    </div>
<!-- </div> -->